
<div class="container">

  <div class="main_container">
    <div class="hero">
      <div class="img_container">
        <img
            src="https://scontent.fceb2-2.fna.fbcdn.net/v/t39.30808-6/270369817_1887424851443298_3766955197878742200_n.jpg?_nc_cat=107&ccb=1-5&_nc_sid=09cbfe&_nc_eui2=AeGNkkkpHN3gtCWfalyXbV6wTyQ1kJ-MNVhPJDWQn4w1WBLhTV1RN4kBh-fWlgxPOU0j_8iZ9HToZ3jqUqrPt9JD&_nc_ohc=7swNVCqxEBMAX_RLoNM&tn=2lRkU0wHQnLHgmvE&_nc_zt=23&_nc_ht=scontent.fceb2-2.fna&oh=00_AT8shJ7Hcbe_4zzvIB4YSGh3Gdnuwd85nCRkORePvt1qyQ&oe=61DF0977"
            alt=""
          />
      </div>
      <div class="details">
        
      </div>
    </div>
  </div>
</div>